.clippy {
  animation: crucial_clippy_animation_threeK 2s forwards;
  border-radius: 50%;
  top: 45%;
  left: 45%;
}

@keyframes crucial_clippy_animation_threeK {
  0% {
    scale: 10;
  }
  10% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(1080deg);
  }
  40% {
    transform: scaleY(1.5);
  }
  50% {
    transform: scaleY(0.5);
  }
  60% {
    transform: scaleX(1.5);
  }
  70% {
    transform: scaleX(0.5);
  }
  80% {
    background-color: rgb(198, 198, 198);
  }
  95% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
    scale: 1;
  }
}
